/* Variable */
.home-part2:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.home-part2 .home-row {
  float: left;
  width: 100%;
}

.home-part2 .heading-title {
  display: block;
  margin-bottom: 25px;
}

.home-part2 .heading-title.style1 h3 {
  color: #4c2603;
  font-size: 25px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.home-part2 .heading-title.style1 h5 {
  color: #4c2603;
  font-family: SVN-Gotham, Arial, Helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.home-part2 .heading-title.style2 {
  text-align: left;
}

.home-part2 .heading-title.style2 h3 {
  background: -webkit-linear-gradient(231.06deg, #ffec80 7.91%, #b68a39 29.37%, #ffec80 47.04%, #b68a39 65.97%, #ffec80 88.69%);
  background: -moz-linear-gradient(231.06deg, #ffec80 7.91%, #b68a39 29.37%, #ffec80 47.04%, #b68a39 65.97%, #ffec80 88.69%);
  background: -o-linear-gradient(231.06deg, #ffec80 7.91%, #b68a39 29.37%, #ffec80 47.04%, #b68a39 65.97%, #ffec80 88.69%);
  background: linear-gradient(218.94deg, #ffec80 7.91%, #b68a39 29.37%, #ffec80 47.04%, #b68a39 65.97%, #ffec80 88.69%);
  color: #ffec80;
  font-size: 25px;
  margin: 0 0 15px 0;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-part2 .heading-title.style2 h5 {
  color: #fff;
  font-family: SVN-Gotham, Arial, Helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.home-part2 .row-phan-khu {
  padding-bottom: 65px;
  padding-top: 50px;
  padding-top: 0;
  z-index: 2;
}

.home-part2 .row-phan-khu .row-bg {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.home-part2 .row-phan-khu .slick-slide {
  overflow: hidden;
}

.home-part2 .row-phan-khu .text-bg {
  bottom: 7vw;
  color: rgba(78, 45, 14, 0.08);
  font-family: SVN-Avo, Arial, Helvetica, sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: bold;
  left: 0;
  line-height: .83;
  padding-top: 20px;
  position: absolute;
  right: 0;
  text-align: center;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 639px) {
  .home-part2 .row-phan-khu .text-bg {
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
    white-space: nowrap;
  }
}

.home-part2 .row-phan-khu-content-fly {
  left: 45vw;
  position: absolute;
  right: 0;
  top: 26vw;
}

.home-part2 .row-phan-khu-content-fly h2 {
  color: #4c2603;
  font-size: 18px;
  margin-bottom: 5px;
  margin-left: 20px;
  text-transform: uppercase;
}

.home-part2 .row-phan-khu-content-fly .tagline {
  color: #4c2603;
  font-size: 15px;
  margin-left: 20px;
  text-transform: uppercase;
}

.home-part2 .row-phan-khu-content-fly .tagline strong {
  display: block;
  font-family: 'UTM A&S Heartbeat', Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: normal;
  margin-bottom: -5px;
  margin-left: -20px;
  text-transform: capitalize;
}

.home-part2 .row-phan-khu-content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
}

.home-part2 .row-phan-khu-content h2 br {
  display: none;
}

.home-part2 .row-phan-khu-content p {
  text-align: center;
}

@media (max-width: 991px) {
  .home-part2 .row-phan-khu-content {
    padding-left: 8.33vw;
    padding-right: 8.33vw;
    width: 100%;
  }
}

.home-part2 #map-picture {
  width: 100%;
}

.home-part2 #map-picture-cover1 {
  left: 28.9vw !important;
  top: 21vw !important;
  width: 12vw !important;
}

.home-part2 #line1 {
  background-color: white;
  bottom: 9vw;
  display: none;
  height: 2px;
  left: 33vw;
  position: absolute;
  right: auto;
  top: auto;
  -webkit-transition: 1s;
  -o-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
  width: 15vw;
  z-index: 1;
}

.home-part2 #line2 {
  background-color: white;
  bottom: 9vw;
  display: none;
  height: 13vw;
  left: 33vw;
  position: absolute;
  top: unset;
  -webkit-transition: 1s;
  -o-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
  width: 2px;
  z-index: 1;
}

.row-tinh-hoa-kien-truc {
  overflow: hidden;
  padding: 50px 0 25px 0;
  position: relative;
}

.row-tinh-hoa-kien-truc .row-bg {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.row-tinh-hoa-kien-truc .row-bg img {
  min-height: 100%;
  min-width: 100%;
}

.row-tinh-hoa-kien-truc .row-content {
  position: relative;
  z-index: 2;
}

.row-tinh-hoa-kien-truc .box-title {
  margin: 0 auto 40px auto;
  text-align: justify;
}

.row-tinh-hoa-kien-truc .box-image-wrapper .title {
  color: #4c2603;
  font-family: SVN-Gotham, Arial, Helvetica, sans-serif;
  font-size: 18px;
  letter-spacing: 1.5px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

.row-tinh-hoa-kien-truc .box-image-wrapper .row {
  margin-left: -5px;
  margin-right: -5px;
}

.row-tinh-hoa-kien-truc .box-image-wrapper .row [class*='col'] {
  padding-left: 5px;
  padding-right: 5px;
}

.row-tinh-hoa-kien-truc .box-image-wrapper .box-image {
  cursor: pointer;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
}

.row-tinh-hoa-kien-truc .box-image-wrapper .box-image:before {
  background: rgba(3, 3, 3, 0.2);
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  z-index: 1;
}

.row-tinh-hoa-kien-truc .box-image-wrapper .box-image:hover:before {
  background: rgba(0, 0, 0, 0.6);
}

.row-tinh-hoa-kien-truc .box-image-wrapper .box-image:hover .inner {
  padding-top: 0 !important;
}

.row-tinh-hoa-kien-truc .box-image-wrapper .box-image:hover .box-hidden {
  max-height: 200px;
  opacity: 1;
}

.row-tinh-hoa-kien-truc .box-image-wrapper .box-image:hover .box-border .left {
  top: 0;
  -webkit-transition-delay: .01s;
     -moz-transition-delay: .01s;
       -o-transition-delay: .01s;
          transition-delay: .01s;
}

.row-tinh-hoa-kien-truc .box-image-wrapper .box-image:hover .box-border .top {
  right: 0;
  -webkit-transition-delay: .15s;
     -moz-transition-delay: .15s;
       -o-transition-delay: .15s;
          transition-delay: .15s;
}

.row-tinh-hoa-kien-truc .box-image-wrapper .box-image:hover .box-border .right {
  bottom: 0;
  -webkit-transition-delay: .3s;
     -moz-transition-delay: .3s;
       -o-transition-delay: .3s;
          transition-delay: .3s;
}

.row-tinh-hoa-kien-truc .box-image-wrapper .box-image:hover .box-border .bottom {
  left: 0;
  -webkit-transition-delay: .45s;
     -moz-transition-delay: .45s;
       -o-transition-delay: .45s;
          transition-delay: .45s;
}

.row-tinh-hoa-kien-truc .box-image-wrapper .box-border {
  bottom: 8px;
  left: 8px;
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 1;
}

.row-tinh-hoa-kien-truc .box-image-wrapper .box-border .btn-border {
  background-image: -webkit-linear-gradient(45deg, #ffec80, #b68a39, #ffec80, #b68a39, #ffec80);
  background-image: -moz-linear-gradient(45deg, #ffec80, #b68a39, #ffec80, #b68a39, #ffec80);
  background-image: -o-linear-gradient(45deg, #ffec80, #b68a39, #ffec80, #b68a39, #ffec80);
  background-image: linear-gradient(45deg, #ffec80, #b68a39, #ffec80, #b68a39, #ffec80);
  position: absolute;
  -webkit-transition: .15s ease-in-out;
  -o-transition: .15s ease-in-out;
  -moz-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
}

.row-tinh-hoa-kien-truc .box-image-wrapper .box-border .left,
.row-tinh-hoa-kien-truc .box-image-wrapper .box-border .right {
  width: 1px;
}

.row-tinh-hoa-kien-truc .box-image-wrapper .box-border .top,
.row-tinh-hoa-kien-truc .box-image-wrapper .box-border .bottom {
  height: 1px;
}

.row-tinh-hoa-kien-truc .box-image-wrapper .box-border .left {
  bottom: 0;
  left: 0;
  top: 100%;
  -webkit-transition-delay: .45s;
     -moz-transition-delay: .45s;
       -o-transition-delay: .45s;
          transition-delay: .45s;
}

.row-tinh-hoa-kien-truc .box-image-wrapper .box-border .top {
  left: 0;
  right: 100%;
  top: 0;
  -webkit-transition-delay: .3s;
     -moz-transition-delay: .3s;
       -o-transition-delay: .3s;
          transition-delay: .3s;
}

.row-tinh-hoa-kien-truc .box-image-wrapper .box-border .right {
  bottom: 100%;
  right: 0;
  top: 0;
  -webkit-transition-delay: .15s;
     -moz-transition-delay: .15s;
       -o-transition-delay: .15s;
          transition-delay: .15s;
}

.row-tinh-hoa-kien-truc .box-image-wrapper .box-border .bottom {
  bottom: 0;
  left: 100%;
  right: 0;
  -webkit-transition-delay: .01s;
     -moz-transition-delay: .01s;
       -o-transition-delay: .01s;
          transition-delay: .01s;
}

.row-tinh-hoa-kien-truc .box-image-wrapper .box-inner {
  position: relative;
}

.row-tinh-hoa-kien-truc .box-image-wrapper .text {
  color: #fff;
  left: 0;
  padding: 50px 10%;
  position: absolute;
  right: 0;
  text-align: left;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}

.row-tinh-hoa-kien-truc .box-image-wrapper .text .inner {
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  -moz-transition: .3s ease;
  transition: .3s ease;
}

.row-tinh-hoa-kien-truc .box-image-wrapper .text .box-hidden {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  -moz-transition: .3s ease;
  transition: .3s ease;
}

.row-tinh-hoa-kien-truc .box-image-wrapper .text h3 {
  color: inherit;
  font-size: 22px;
  margin-bottom: 5px;
}

.row-tinh-hoa-kien-truc .box-image-wrapper .description {
  margin-bottom: 15px;
  max-height: 50px;
  overflow: hidden;
}

.row-tinh-hoa-kien-truc .box-image-wrapper .icon {
  height: 40px;
  width: 40px;
}

.row-gia-tri-song {
  background: -webkit-gradient(linear, left top, left bottom, from(#98693c), to(#3a1d01));
  background: -webkit-linear-gradient(top, #98693c 0%, #3a1d01 100%);
  background: -moz-linear-gradient(top, #98693c 0%, #3a1d01 100%);
  background: -o-linear-gradient(top, #98693c 0%, #3a1d01 100%);
  background: linear-gradient(180deg, #98693c 0%, #3a1d01 100%);
  overflow: hidden;
  padding: 45px 0 60px 0;
  position: relative;
}

.row-gia-tri-song > .icon {
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 18%;
  z-index: 1;
}

.row-gia-tri-song .pattern-left {
  bottom: -2%;
  left: -7%;
  opacity: .05;
  position: absolute;
  z-index: 1;
}

.row-gia-tri-song .pattern-left img {
  -webkit-animation: rung-rinh 5s infinite;
     -moz-animation: rung-rinh 5s infinite;
       -o-animation: rung-rinh 5s infinite;
          animation: rung-rinh 5s infinite;
  -webkit-animation-direction: alternate;
     -moz-animation-direction: alternate;
       -o-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-transform-origin: left bottom;
     -moz-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
       -o-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform-origin: 150% 150%;
     -moz-transform-origin: 150% 150%;
      -ms-transform-origin: 150% 150%;
       -o-transform-origin: 150% 150%;
          transform-origin: 150% 150%;
  -webkit-transition-timing-function: cubic-bezier(0.35, -0.6, 0.795, 1.64);
     -moz-transition-timing-function: cubic-bezier(0.35, -0.6, 0.795, 1.64);
       -o-transition-timing-function: cubic-bezier(0.35, -0.6, 0.795, 1.64);
          transition-timing-function: cubic-bezier(0.35, -0.6, 0.795, 1.64);
}

.row-gia-tri-song .row-content {
  position: relative;
  z-index: 2;
}

.row-gia-tri-song .box-text {
  margin-bottom: 40px;
}

.row-gia-tri-song .box-text .heading-title strong {
  font-size: 45px;
  margin-right: 10px;
}

.row-gia-tri-song .box-text .heading-title i {
  background: none;
  color: #fff;
  display: block;
  font-family: 'UTM A&S Heartbeat', Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: -20px;
  margin-top: -20px;
  padding-left: 15px;
  text-transform: none;
  -webkit-text-fill-color: initial;
  white-space: nowrap;
}

.row-gia-tri-song .box-text .heading-title h5 {
  font-family: SVN-Gotham, Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.row-gia-tri-song .box-slider {
  display: block;
}

.row-gia-tri-song .slider-container .slick-track {
  -webkit-transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.01s;
  -o-transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.01s;
  -moz-transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.01s;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.01s;
}

.row-gia-tri-song .slider-container .slick-list {
  margin: 0 -8px;
}

.row-gia-tri-song .slider-container .slick-list .slick-slide {
  padding: 0 8px;
}

.row-gia-tri-song .slider-container .slick-arrow {
  display: inline-block;
  height: 16px;
  position: static;
  -webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
  vertical-align: middle;
  width: 8px;
}

.row-gia-tri-song .slider-container .slick-prev {
  background: url("../../images/button-back-2.png") center center no-repeat;
}

.row-gia-tri-song .slider-container .slick-next {
  background: url("../../images/button-next-2.png") center center no-repeat;
}

.row-gia-tri-song .slider-container .slide-image {
  margin-bottom: 30px;
}

.row-gia-tri-song .slider-container .text {
  color: #fff;
}

.row-gia-tri-song .slider-container .text .title {
  background: -webkit-linear-gradient(231.06deg, #ffec80 7.91%, #b68a39 29.37%, #ffec80 47.04%, #b68a39 65.97%, #ffec80 88.69%);
  background: -moz-linear-gradient(231.06deg, #ffec80 7.91%, #b68a39 29.37%, #ffec80 47.04%, #b68a39 65.97%, #ffec80 88.69%);
  background: -o-linear-gradient(231.06deg, #ffec80 7.91%, #b68a39 29.37%, #ffec80 47.04%, #b68a39 65.97%, #ffec80 88.69%);
  background: linear-gradient(218.94deg, #ffec80 7.91%, #b68a39 29.37%, #ffec80 47.04%, #b68a39 65.97%, #ffec80 88.69%);
  color: #ffec80;
  font-size: 25px;
  margin: 0 0 15px 0;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.row-gia-tri-song .slider-container .slick-info {
  margin-bottom: 40px;
}

.row-gia-tri-song .slider-container .slick-info .slide-number {
  display: inline-block;
  margin: 0 10px;
  vertical-align: middle;
}

.row-gia-tri-song .slider-container .slick-info .slide-number span {
  display: inline-block;
  font-family: SVN-Avo, Arial, Helvetica, sans-serif;
  line-height: 1;
  position: relative;
  top: -1px;
  vertical-align: middle;
}

.row-gia-tri-song .slider-container .slick-info .slide-number .current {
  color: #fff;
  font-size: 45px;
  top: -5px;
  width: 55px;
}

.row-gia-tri-song .slider-container .slick-info .slide-number .total {
  color: rgba(255, 255, 255, 0.47);
  font-size: 25px;
}

.row-gia-tri-song .slider-container .slick-info .slide-number .line {
  background: #fff;
  content: '';
  height: 1px;
  margin: 0 10px;
  width: 50px;
}

.section-phan-khu {
  position: relative;
  width: 100%;
}

.section-phan-khu:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.section-phan-khu .row-bg {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.section-phan-khu .row-bg img {
  min-height: 100%;
  min-width: 100%;
}

.row-phan-khu-2 {
  overflow: hidden;
  padding: 55px 0 50px 0;
  position: relative;
}

.row-phan-khu-2 .icon-text {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.row-phan-khu-2 .row-bg {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.row-phan-khu-2 .row-bg img {
  min-height: 100%;
  min-width: 100%;
}

.row-phan-khu-2 .row-content {
  position: relative;
  z-index: 2;
}

.row-phan-khu-2 .box-image-phan-khu {
  margin-bottom: 20px;
}

.row-phan-khu-2 .box-image-phan-khu img {
  width: 100%;
}

.row-phan-khu-2 .box-text {
  margin-bottom: 35px;
  text-align: center;
}

.row-phan-khu-2 .box-text .description {
  text-align: justify;
}

.row-phan-khu-2 .box-image-large {
  margin-bottom: 35px;
}

.row-phan-khu-2 .box-slider {
  margin-bottom: 30px;
}

.row-phan-khu-2 .box-slider .slick-navigation {
  margin-top: 20px;
  text-align: center;
}

.row-phan-khu-2 .box-slider .slick-navigation .slick-arrow {
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  position: static;
  -webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
}

.row-phan-khu-2 .box-slider .slick-navigation .slick-prev {
  margin-right: 10px;
}

.row-phan-khu-2 .box-slider .slide-wrapper {
  position: relative;
}

.row-phan-khu-2 .box-slider .slide-wrapper .title {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#070707));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #070707 100%);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #070707 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #070707 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #070707 100%);
  bottom: 0;
  color: #fff;
  font-family: SVN-Gotham, Arial, Helvetica, sans-serif;
  font-size: 15px;
  left: 0;
  letter-spacing: 1px;
  margin: 0;
  padding: 20px 20px 20px 20px;
  position: absolute;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}

.row-phan-khu-2 .box-content-bottom {
  padding: 0 15%;
  text-align: center;
}

.row-phan-khu-2 .read-more {
  margin-top: 30px;
  text-align: center;
}

.row-phan-khu-2 .read-more .inner {
  background-image: -webkit-gradient(linear, left top, right top, from(#3a1d01), to(#98693c));
  background-image: -webkit-linear-gradient(left, #3a1d01, #98693c);
  background-image: -moz-linear-gradient(left, #3a1d01, #98693c);
  background-image: -o-linear-gradient(left, #3a1d01, #98693c);
  background-image: linear-gradient(to right, #3a1d01, #98693c);
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  height: 45px;
  line-height: 45px;
  padding: 0 30px;
  text-transform: uppercase;
}

.row-phan-khu-2 .read-more .inner span {
  background: -webkit-gradient(linear, left top, right top, from(#ffec80), color-stop(#b68a39), color-stop(#ffec80), color-stop(#b68a39), to(#ffec80));
  background: -webkit-linear-gradient(left, #ffec80, #b68a39, #ffec80, #b68a39, #ffec80);
  background: -moz-linear-gradient(left, #ffec80, #b68a39, #ffec80, #b68a39, #ffec80);
  background: -o-linear-gradient(left, #ffec80, #b68a39, #ffec80, #b68a39, #ffec80);
  background: linear-gradient(to right, #ffec80, #b68a39, #ffec80, #b68a39, #ffec80);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.row-noi-that {
  background: -webkit-linear-gradient(211.54deg, #98693c -23.19%, #3a1d01 101.14%);
  background: -moz-linear-gradient(211.54deg, #98693c -23.19%, #3a1d01 101.14%);
  background: -o-linear-gradient(211.54deg, #98693c -23.19%, #3a1d01 101.14%);
  background: linear-gradient(238.46deg, #98693c -23.19%, #3a1d01 101.14%);
  color: #fff;
  overflow: hidden;
  padding: 40px 0;
  position: relative;
}

.row-noi-that > .icon {
  bottom: 10%;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  z-index: 1;
}

.row-noi-that .pattern-left {
  bottom: -2%;
  left: -7%;
  opacity: .05;
  position: absolute;
  z-index: 1;
}

.row-noi-that .pattern-left img {
  -webkit-animation: rung-rinh 5s infinite;
     -moz-animation: rung-rinh 5s infinite;
       -o-animation: rung-rinh 5s infinite;
          animation: rung-rinh 5s infinite;
  -webkit-animation-direction: alternate;
     -moz-animation-direction: alternate;
       -o-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-transform-origin: left bottom;
     -moz-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
       -o-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform-origin: 150% 150%;
     -moz-transform-origin: 150% 150%;
      -ms-transform-origin: 150% 150%;
       -o-transform-origin: 150% 150%;
          transform-origin: 150% 150%;
  -webkit-transition-timing-function: cubic-bezier(0.35, -0.6, 0.795, 1.64);
     -moz-transition-timing-function: cubic-bezier(0.35, -0.6, 0.795, 1.64);
       -o-transition-timing-function: cubic-bezier(0.35, -0.6, 0.795, 1.64);
          transition-timing-function: cubic-bezier(0.35, -0.6, 0.795, 1.64);
}

.row-noi-that .row-content {
  position: relative;
  z-index: 2;
}

.row-noi-that .heading-title h4 {
  background: -webkit-linear-gradient(231.06deg, #ffec80 7.91%, #b68a39 29.37%, #ffec80 47.04%, #b68a39 65.97%, #ffec80 88.69%);
  background: -moz-linear-gradient(231.06deg, #ffec80 7.91%, #b68a39 29.37%, #ffec80 47.04%, #b68a39 65.97%, #ffec80 88.69%);
  background: -o-linear-gradient(231.06deg, #ffec80 7.91%, #b68a39 29.37%, #ffec80 47.04%, #b68a39 65.97%, #ffec80 88.69%);
  background: linear-gradient(218.94deg, #ffec80 7.91%, #b68a39 29.37%, #ffec80 47.04%, #b68a39 65.97%, #ffec80 88.69%);
  color: #ffec80;
  font-size: 16px;
  margin: 0 0 15px 0;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.row-noi-that .box-text {
  margin-bottom: 35px;
  text-align: justify;
}

.row-noi-that .box-slider .slick-navigation {
  margin-top: 30px;
  text-align: center;
}

.row-noi-that .box-slider .slick-navigation .slick-arrow {
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  position: static;
  -webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
}

.row-noi-that .box-slider .slick-navigation .slick-prev {
  margin-right: 10px;
}

.row-noi-that .box-slider .slide-wrapper {
  position: relative;
}

.row-noi-that .box-slider .slide-wrapper .title {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#070707));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #070707 100%);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #070707 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #070707 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #070707 100%);
  bottom: 0;
  color: #fff;
  font-size: 15px;
  left: 0;
  letter-spacing: .28em;
  margin: 0;
  padding: 20px 20px;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}

/* POPUP */
.sunshine-modal {
  display: block;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  -moz-transition: .3s ease;
  transition: .3s ease;
  visibility: hidden;
  z-index: 165585;
}

.sunshine-modal.have-carousel {
  opacity: 0;
}

.sunshine-modal.showopacity {
  opacity: 1;
}

.sunshine-modal.show {
  background: rgba(0, 0, 0, 0.85);
  visibility: visible;
}

.sunshine-modal .modal-dialog {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: 0 auto;
  max-width: none;
  padding: 0;
  position: relative;
  -webkit-transform: translate(0, 0);
     -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
  width: 90%;
}

.sunshine-modal .modal-content {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  max-height: 90%;
  overflow: auto;
  position: relative;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.sunshine-modal .modal-content::-webkit-scrollbar {
  display: none;
}

.sunshine-modal .modal-content .slick-list {
  margin: 0;
}

.sunshine-modal .modal-content .slick-list .slick-slide {
  padding: 0;
}

.sunshine-modal .modal-content .modal-body {
  padding: 0;
}

.sunshine-modal .modal-content .close {
  background: #4c2602;
  color: #fff;
  font-family: initial;
  font-size: 20px;
  font-weight: normal;
  height: 25px;
  line-height: 25px;
  opacity: 1;
  outline: none;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 25px;
  z-index: 9;
}

.sunshine-modal.popup-tinh-hoa-kien-truc .popup-bg {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.sunshine-modal.popup-tinh-hoa-kien-truc .popup-bg img {
  min-height: 100%;
  min-width: 100%;
}

.sunshine-modal.popup-tinh-hoa-kien-truc .popup-content {
  position: relative;
  z-index: 2;
}

.sunshine-modal.popup-tinh-hoa-kien-truc .popup-content:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.sunshine-modal.popup-tinh-hoa-kien-truc .popup-data {
  bottom: 0;
  left: 0;
  opacity: 0;
  padding: 75px 0;
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
}

.sunshine-modal.popup-tinh-hoa-kien-truc .popup-data.show {
  opacity: 1;
  position: static;
  visibility: visible;
}

.sunshine-modal.popup-tinh-hoa-kien-truc .box-text .title {
  margin-bottom: 20px;
}

.sunshine-modal.popup-tinh-hoa-kien-truc .box-text .title h5 {
  color: #4c2603;
  font-size: 15px;
  letter-spacing: 1.5px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.sunshine-modal.popup-tinh-hoa-kien-truc .box-text .title h3 {
  color: #4c2603;
  font-size: 30px;
  text-transform: uppercase;
}

.sunshine-modal.popup-tinh-hoa-kien-truc .box-text .description {
  margin-bottom: 35px;
  text-align: justify;
}

.sunshine-modal.popup-tinh-hoa-kien-truc .box-slider {
  position: relative;
}

.sunshine-modal.popup-tinh-hoa-kien-truc .box-slider .slide-wrapper {
  display: block !important;
}

.sunshine-modal.popup-tinh-hoa-kien-truc .box-slider .slick-navigation {
  margin-top: 20px;
  text-align: center;
}

.sunshine-modal.popup-tinh-hoa-kien-truc .box-slider .slick-navigation .slick-arrow {
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  position: static;
  -webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
}

.sunshine-modal.popup-tinh-hoa-kien-truc .box-slider .slick-navigation .slick-prev {
  margin-right: 10px;
}

.sunshine-modal.popup-phan-khu-2 .popup-bg {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.sunshine-modal.popup-phan-khu-2 .popup-bg img {
  min-height: 100%;
  min-width: 100%;
}

.sunshine-modal.popup-phan-khu-2 .popup-content {
  padding: 50px 0;
  position: relative;
  z-index: 2;
}

.sunshine-modal.popup-phan-khu-2 .popup-content .box-text {
  margin-bottom: 30px;
}

.sunshine-modal.popup-phan-khu-2 .popup-content .title {
  margin-bottom: 20px;
  text-align: center;
}

.sunshine-modal.popup-phan-khu-2 .popup-content .title h3 {
  color: #4c2603;
  font-size: 25px;
  text-transform: uppercase;
}

.sunshine-modal.popup-phan-khu-2 .popup-content .title h5 {
  color: #4c2603;
  font-size: 15px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.sunshine-modal.popup-phan-khu-2 .popup-content .description {
  text-align: justify;
}

.sunshine-modal.popup-phan-khu-2 .popup-content .box-slider-big {
  margin-bottom: 10px;
}

.sunshine-modal.popup-phan-khu-2 .popup-content .box-slider-small {
  margin-bottom: 30px;
  padding: 0 25px;
}

.sunshine-modal.popup-phan-khu-2 .popup-content .box-slider-small .slick-list {
  margin: 0 -5px;
}

.sunshine-modal.popup-phan-khu-2 .popup-content .box-slider-small .slick-list .slick-slide {
  padding: 0 5px;
}

.sunshine-modal.popup-phan-khu-2 .popup-content .box-slider-small .slick-slide {
  cursor: pointer;
}

.sunshine-modal.popup-phan-khu-2 .popup-content .box-slider-small .slick-slide .slide-wrapper {
  position: relative;
}

.sunshine-modal.popup-phan-khu-2 .popup-content .box-slider-small .slick-slide:not(.slick-current) .slide-wrapper:before {
  background: rgba(28, 28, 28, 0.6);
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.sunshine-modal.popup-video .modal-content {
  background: #000;
  height: 100%;
  margin: auto;
  max-height: none;
  width: 100%;
}

.sunshine-modal.popup-video .modal-dialog {
  width: 100%;
}

.sunshine-modal.popup-video iframe {
  height: 100%;
  width: 100%;
}

.sunshine-modal.popup-video.paused {
  display: block;
}

.sunshine-modal.popup-video.paused .modal-body:after {
  background-color: black;
  background-image: url(data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEiIHdpZHRoPSIxNzA2LjY2NyIgaGVpZ2h0PSIxNzA2LjY2NyIgdmlld0JveD0iMCAwIDEyODAgMTI4MCI+PHBhdGggZD0iTTE1Ny42MzUgMi45ODRMMTI2MC45NzkgNjQwIDE1Ny42MzUgMTI3Ny4wMTZ6IiBmaWxsPSIjZmZmIi8+PC9zdmc+);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: 40px 40px;
     -moz-background-size: 40px 40px;
       -o-background-size: 40px 40px;
          background-size: 40px 40px;
  bottom: 0;
  content: '';
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.row-noi-that-wrapper {
  background: -webkit-linear-gradient(211.54deg, #98693c -23.19%, #3a1d01 101.14%);
  background: -moz-linear-gradient(211.54deg, #98693c -23.19%, #3a1d01 101.14%);
  background: -o-linear-gradient(211.54deg, #98693c -23.19%, #3a1d01 101.14%);
  background: linear-gradient(238.46deg, #98693c -23.19%, #3a1d01 101.14%);
  overflow: hidden;
  position: relative;
}

.row-noi-that-wrapper .pattern-right {
  bottom: 0;
  position: absolute;
  right: 0;
}

.row-noi-that-wrapper .pattern-right img {
  -webkit-animation: rung-rinh 5s infinite;
     -moz-animation: rung-rinh 5s infinite;
       -o-animation: rung-rinh 5s infinite;
          animation: rung-rinh 5s infinite;
  -webkit-animation-direction: alternate;
     -moz-animation-direction: alternate;
       -o-animation-direction: alternate;
          animation-direction: alternate;
  bottom: 0;
  max-width: 150vw;
  position: absolute;
  right: 0;
  -webkit-transform-origin: left bottom;
     -moz-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
       -o-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform-origin: 150% 150%;
     -moz-transform-origin: 150% 150%;
      -ms-transform-origin: 150% 150%;
       -o-transform-origin: 150% 150%;
          transform-origin: 150% 150%;
  -webkit-transition-timing-function: cubic-bezier(0.35, -0.6, 0.795, 1.64);
     -moz-transition-timing-function: cubic-bezier(0.35, -0.6, 0.795, 1.64);
       -o-transition-timing-function: cubic-bezier(0.35, -0.6, 0.795, 1.64);
          transition-timing-function: cubic-bezier(0.35, -0.6, 0.795, 1.64);
}

.home-part2 .xem-video-btn {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-linear-gradient(1.3deg, #d1bd9a -6.52%, #f3ebd6 93.37%);
  background: -moz-linear-gradient(1.3deg, #d1bd9a -6.52%, #f3ebd6 93.37%);
  background: -o-linear-gradient(1.3deg, #d1bd9a -6.52%, #f3ebd6 93.37%);
  background: linear-gradient(88.7deg, #d1bd9a -6.52%, #f3ebd6 93.37%);
  color: #4c2603;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-family: SVN-Avo, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  height: 45px;
  letter-spacing: .135em;
  margin-top: 40px;
  text-transform: uppercase;
  width: 160px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-part2 .xem-video-btn img {
  height: 30px;
  margin-right: 5px;
  width: 30px;
}

.row-noi-that-hien-dai {
  background: -webkit-linear-gradient(211.54deg, #98693c -23.19%, #3a1d01 101.14%);
  background: -moz-linear-gradient(211.54deg, #98693c -23.19%, #3a1d01 101.14%);
  background: -o-linear-gradient(211.54deg, #98693c -23.19%, #3a1d01 101.14%);
  background: linear-gradient(238.46deg, #98693c -23.19%, #3a1d01 101.14%);
  color: #fff;
  overflow: hidden;
  padding: 40px 0;
  position: relative;
}

.row-noi-that-hien-dai > .icon {
  bottom: 10%;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  z-index: 1;
}

.row-noi-that-hien-dai .pattern-left {
  bottom: -2%;
  left: -7%;
  opacity: .05;
  position: absolute;
  z-index: 1;
}

.row-noi-that-hien-dai .pattern-left img {
  -webkit-animation: rung-rinh 5s infinite;
     -moz-animation: rung-rinh 5s infinite;
       -o-animation: rung-rinh 5s infinite;
          animation: rung-rinh 5s infinite;
  -webkit-animation-direction: alternate;
     -moz-animation-direction: alternate;
       -o-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-transform-origin: left bottom;
     -moz-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
       -o-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform-origin: 150% 150%;
     -moz-transform-origin: 150% 150%;
      -ms-transform-origin: 150% 150%;
       -o-transform-origin: 150% 150%;
          transform-origin: 150% 150%;
  -webkit-transition-timing-function: cubic-bezier(0.35, -0.6, 0.795, 1.64);
     -moz-transition-timing-function: cubic-bezier(0.35, -0.6, 0.795, 1.64);
       -o-transition-timing-function: cubic-bezier(0.35, -0.6, 0.795, 1.64);
          transition-timing-function: cubic-bezier(0.35, -0.6, 0.795, 1.64);
}

.row-noi-that-hien-dai .row-content {
  position: relative;
  z-index: 2;
}

.row-noi-that-hien-dai .heading-title h4 {
  background: -webkit-linear-gradient(231.06deg, #ffec80 7.91%, #b68a39 29.37%, #ffec80 47.04%, #b68a39 65.97%, #ffec80 88.69%);
  background: -moz-linear-gradient(231.06deg, #ffec80 7.91%, #b68a39 29.37%, #ffec80 47.04%, #b68a39 65.97%, #ffec80 88.69%);
  background: -o-linear-gradient(231.06deg, #ffec80 7.91%, #b68a39 29.37%, #ffec80 47.04%, #b68a39 65.97%, #ffec80 88.69%);
  background: linear-gradient(218.94deg, #ffec80 7.91%, #b68a39 29.37%, #ffec80 47.04%, #b68a39 65.97%, #ffec80 88.69%);
  color: #ffec80;
  font-size: 16px;
  margin: 0 0 15px 0;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.row-noi-that-hien-dai .box-text {
  margin-bottom: 35px;
  text-align: justify;
}

.row-noi-that-hien-dai .box-slider .slick-navigation {
  margin-top: 30px;
  text-align: center;
}

.row-noi-that-hien-dai .box-slider .slick-navigation .slick-arrow {
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  position: static;
  -webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
}

.row-noi-that-hien-dai .box-slider .slick-navigation .slick-prev {
  margin-right: 10px;
}

.row-noi-that-hien-dai .box-slider .slide-wrapper {
  position: relative;
}

.row-noi-that-hien-dai .box-slider .slide-wrapper .title {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#070707));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #070707 100%);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #070707 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #070707 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #070707 100%);
  bottom: 0;
  color: #fff;
  font-size: 15px;
  left: 0;
  letter-spacing: .28em;
  margin: 0;
  padding: 20px 20px;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}
