//font
//font 

@font-face {
    font-family: 'utm-avobold';
    src: url("../fonts/utm-avobold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/utm-avobold.woff") format("woff"),
        url("../fonts/utm-avobold.woff2") format("woff2"),
        url("../fonts/utm-avobold.ttf") format("truetype"),
        url("../fonts/utm-avobold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: 'UTM-Neo-Sans-Intel';
    src: url("../fonts/UTM-Neo-Sans-Intel.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
} 
@font-face {
    font-family: 'UTM-Neo-Sans-IntelBold';
    src: url("../fonts/UTM-Neo-Sans-IntelBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
} 
@font-face {
    font-family: 'UTM-French-Vanilla';
    src: url("../fonts/UTM-French-Vanilla.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
} 